{
  "api_url": "https://icon.status-page.net",
  "api_token": "5hXeKaLDJVLVE7NziKmb",
  "use_schedule": false,
  "interval": 120,
  "retries": 3,
  "monitoring": [
    {
      "enabled": true,
      "name": "Main Net",
      "url": "https://ctz.solidwallet.io/api/v3/",
      "method": "JSONRPC",
      "metrics": ["latency"],
      "payload": {
        "jsonrpc": "2.0",
        "id": 1234,
        "method": "icx_call",
        "params": {
          "to": "cx0000000000000000000000000000000000000000",
          "dataType": "call",
          "data": {
            "method": "getPReps",
            "params": {
              "startRanking": "0x1",
              "endRanking": "0xffff"
            }
          }
        }
      },
      "component_id": 1,
      "timeout": 5,
      "expected_status_code": [
        200
      ]
    },
    {
      "enabled": true,
      "name": "Yeouido",
      "url": "https://bicon.tracker.solidwallet.io/",
      "method": "GET",
      "component_id": 4,
      "timeout": 5,
      "expected_status_code": [
        200
      ]
    },
    {
      "enabled": true,
      "name": "Pagoda",
      "url": "https://zicon.net.solidwallet.io/api/v3/",
      "method": "JSONRPC",
      "payload": {
        "jsonrpc": "2.0",
        "id": 1234,
        "method": "icx_call",
        "params": {
          "to": "cx0000000000000000000000000000000000000000",
          "dataType": "call",
          "data": {
            "method": "getPReps",
            "params": {
              "startRanking": "0x1",
              "endRanking": "0xffff"
            }
          }
        }
      },
      "component_id": 2,
      "timeout": 5,
      "expected_status_code": [
        200
      ]
    },
    {
      "enabled": true,
      "name": "Euljiro",
      "url": "https://test-ctz.solidwallet.io/api/v3/",
      "method": "JSONRPC",
      "payload": {
        "jsonrpc": "2.0",
        "id": 1234,
        "method": "icx_call",
        "params": {
          "to": "cx0000000000000000000000000000000000000000",
          "dataType": "call",
          "data": {
            "method": "getPReps",
            "params": {
              "startRanking": "0x1",
              "endRanking": "0xffff"
            }
          }
        }
      },
      "component_id": 3,
      "timeout": 5,
      "expected_status_code": [
        200
      ]
    }
  ]
}